/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/01/2015, 09:06:39 PM
    Author     : Mario
*/

@font-face {
    font-family: toms-handwritten;
    src: url("../fonts/toms handwritten new.ttf");
}

html, body {
    height: 100%;
    font-family: "toms-handwritten", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #efefef;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 50%;
}
h1 {
    color: #009ece;
}
.letter{
    font-family: "Sources Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}
p {
    color: #777;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 300;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}
.content {
    padding: 100px 0;   
}

/*************************************
**************** Header **************
**************************************/ 

#main-header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    background-color: rgb(250,250,250);
    background-color: rgba(250,250,250,0.95);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000,endColorstr=#11000000)";
    -moz-box-shadow: 0 1px 5px #999;
    -webkit-box-shadow:0 1px 5px #999;
    box-shadow: 0 1px 5px #999;
}

#main-logo {
    width: 100%;
    height: 80px;
    padding: 2px 0 0 50px;
    margin: 0;
    // background-color: #9aae5c;
}

#main-logo > a {
    font-size: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

#main-logo > a > span {
    display: inline-block;
    padding: 10px 0 0px 8px;
    margin-top: 10px;
    color: #000;
    font-size: 13px;
    font-size: 1.3rem;
}


/**************************************
* **************** Pie ****************
* ************************************/ 

footer {
    padding: 30px 0;
    background-color: #999;background-color: rgb(250,250,250);
    background-color: rgba(250,250,250,0.95);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000,endColorstr=#11000000)";
    -moz-box-shadow: 0 1px 5px #999;
    -webkit-box-shadow:0 1px 5px #999;
    box-shadow: 0 1px 5px #999;

}

footer a, footer a:hover {
    color: #ddd;
    font-weight: 300;
} 

footer p {
    color: #fff;
    text-align: center;
    font-weight: 300;
    padding: 10px;

}
.well{

}
/* Small devices (tablets, 320px and up) */
@media (min-width: 320px) { 
    .title {
        padding: 100px 0 30px 0;
    }
    .pad {
        padding-top: 20px;
    }
}

@media (min-width: 720px) { 
    .title {
        padding: 100px 0 30px 0;
    }
    .pad {
        padding-top: 0;
    }
}